[submodule "prompt/kube-ps1"]
	path = prompt/kube-ps1
	url = https://github.com/jonmosco/kube-ps1.git
[submodule "prompt/git-prompt"]
	path = prompt/git-prompt
	url = https://github.com/woefe/git-prompt.zsh.git
[submodule "prompt/zsh-syntax-highlighting"]
	path = prompt/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
